@media screen and (min-width: 576px) and (max-width: 992px) {
  .w-sm-lg {
    width: 5%;
  }
  /* chỉnh border giải thưởng */
  .border-left {
    border-left: 1px solid #d6c08d;
  }
  .border-bottom {
    border-bottom: 1px solid #d6c08d !important;
  }
  /* điều chỉnh vị trí các khối và cho các khối xếp vào nhau trong job-info */
  #job-info .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 150px auto 100px auto auto;
  }
  #job-info .exp {
    grid-row: 1 / 3;
    grid-column: 1/2;
  }
  #job-info .education {
    grid-row: 2 / 4;
    grid-column: 2/3;
  }
  #job-info .action {
    grid-row: 1 / 2;
    grid-column: 2/3;
  }
  #job-info .skill {
    grid-row: 3 / 5;
    grid-column: 1/2;
  }
  #job-info .language {
    grid-row: 5 / 6;
    grid-column: 1/2;
  }

  #job-info .interest {
    grid-row: 4 / 6;
    grid-column: 2/3;
  }
}
